/* style.css */

/* Réinitialisation des styles par défaut du navigateur */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px 0;
}

section h2 {
    margin-bottom: 20px;
}

/*Pour afficher les images 1 et 2 côte à côte*/
.project .image-container {
    display: flex;
}

.project .image-container img {
    float: right;
    width: 60%;
    margin-right: 10px;
}

/* Ajoutez ces styles si vous souhaitez que les images soient alignées horizontalement au lieu d'être empilées verticalement sur les petits écrans */
@media (max-width: 768px) {
    .project .image-container {
        flex-direction: column;
    }

    .project .image-container img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
/*-------------------------------------------------------------------------------*/

.project {
    text-align: left;
    margin-bottom: 40px;
}

.project img {
    text-align: left;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
